{{!-- Header --}}
{{> head}}
<body>
  {{!-- Body --}}
  {{!-- navbar --}}
    {{>navbar}}
  <div class="container">
    {{!-- body --}}
    {{{body}}}
  </div>

  {{!-- footer --}}
  {{>footer}}
</body>
</html>